{{#each snowboards as |snowboard|}}
  {{log snowboard}}
  <section data-id=" {{snowboard.id}}">
    <h6>Name: {{snowboard.name}}</h6>
    <h6>Designer: {{snowboard.designer}}</h6>
    <h6>Color: {{snowboard.color}}</h6>
    <h6>ID: {{snowboard.id}}</h6>
  </section>

{{/each}}
